<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/home" routerLinkActive="active" >HOME</a></li>
        <li><a routerLink="/login" routerLinkActive="active" >LOGIN</a></li>
        <li><a routerLink="/contact" routerLinkActive="active" >CONTACT</a></li>  
      </ul>
    </div>
  </div>
</nav>


<div class="col-md-6 login-form-2">
  <h3>Registration</h3>
  <form [formGroup]="custLogin" (ngSubmit)="onSubmit()">
      <div class="form-group">
          <input type="text" id="carRegNo" formControlName="carRegNo" class="form-control" placeholder="carRegNo *" value="" />
      </div>
      <div class="form-group">
          <input type="text" id="carModel" formControlName="carModel" class="form-control" placeholder="carModel *" value="" />
      </div>
      <div class="form-group">
        <input type="text" id="Password" formControlName="Password" class="form-control" placeholder="engine*" value="" />
      </div>
      <div class="form-group">
      <input type="text" id="Password" formControlName="Password" class="form-control" placeholder="Localitty *" value="" />
       </div>

       <div class="form-group">
       <input type="text" id="Password" formControlName="Password" class="form-control" placeholder="Customer Full Name*" value="" />
      </div>
      <div class="form-group">
        <input type="tel" id="Password" formControlName="Password" class="form-control" placeholder="Mobile*" value="" />
      </div>
      <div class="form-group">
        <input type="email" id="Password" formControlName="Password" class="form-control" placeholder="email *" value="" />
      </div>
      <div class="form-group">
        <input type="password" id="Password" formControlName="Password" class="form-control" placeholder="Your Password *" value="" />
      </div>
      <div class="form-group">
        <input type="password" id="Password" formControlName="Password" class="form-control" placeholder="Comfirm Password *" value="" />
      </div>

      <div class="form-group">
          <input type="submit" class="btnSubmit" value="Please Register" />
      </div>

  </form>
</div>

<router-outlet></router-outlet>