<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Logo</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/home" routerLinkActive="active" >HOME</a></li>
          <li><a routerLink="/login" routerLinkActive="active" >LOGIN</a></li>
          <li><a routerLink="/services" routerLinkActive="active" >SERVICES</a></li>
          <li><a routerLink="/pricing" routerLinkActive="active" >PRICING</a></li>
          <li><a routerLink="/claim" routerLinkActive="active" >CLAIM</a></li>
          <li><a routerLink="/renew" routerLinkActive="active" >RENEW</a></li>
          <li><a routerLink="/contact" routerLinkActive="active" >CONTACT</a></li>  
        </ul>
      </div>
    </div>
  </nav>


<!-- Container (Pricing Section) -->
<div id="pricing" class="container-fluid">
    <div class="text-center">
      <h2>Pricing</h2>
      <h4>Choose a payment plan that works for you</h4>
    </div>
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <h1>Third Party</h1>
          </div>
          <div class="panel-footer">
            <h3>$19</h3>
            <h4>per month</h4>
            <button class="btn btn-lg">Sign Up</button>
          </div>
        </div>      
      </div>     
      <div class="col-sm-4 col-xs-12">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <h1>Comprehensive</h1>
          </div>
          <div class="panel-footer">
            <h3>$29</h3>
            <h4>per month</h4>
            <button class="btn btn-lg">Sign Up</button>
          </div>
        </div>      
      </div>       
      <div class="col-sm-4 col-xs-12">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <h1>Comprehensive + Zero Depreciation</h1>
          </div>
          <div class="panel-footer">
            <h3>$49</h3>
            <h4>per month</h4>
            <button class="btn btn-lg">Sign Up</button>
          </div>
        </div>      
      </div>    
    </div>
  </div>