<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/home" routerLinkActive="active" >HOME</a></li>
        <li><a routerLink="/login" routerLinkActive="active" >LOGIN</a></li>
        <li><a routerLink="/services" routerLinkActive="active" >SERVICES</a></li>
        <li><a routerLink="/pricing" routerLinkActive="active" >PRICING</a></li>
        <li><a routerLink="/claim" routerLinkActive="active" >CLAIM</a></li>
        <li><a routerLink="/renew" routerLinkActive="active" >RENEW</a></li>
        <li><a routerLink="/contact" routerLinkActive="active" >CONTACT</a></li>  
      </ul>
    </div>
  </div>
</nav>